@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Orbition;
    src: url(../styles/static/Roboto-Black.ttf);
}

body{
    background-color: #F4F7F8;
    font-family: Orbition;
}